{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriais Django</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
</head>

<body>
    <script src="{% static 'js/script.js' %}"></script>
    <h1 id="title">Welcome to the Django</h1>
    <img src="{% static 'images/django.svg' %}" id="image" alt="Django logo"/>
    <ul id="list"></ul>
    {% for user in users %}
            <li>{{ user }}</li>
    {% endfor %}
    </ul>
</body>
</html>